.background1Task2 {
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url('/img/task2/img-1.png');
    background-size: cover;
    background-position: center;
}

.background2Task2 {
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url('/img/task2/img-2.png');
    background-size: cover;
    background-position: center;
}