.select {
    border-radius: 8px;
    background: #fff;
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    border: 2px solid $color-primary;
    cursor: pointer;
    background: #fff url("data:image/svg+xml;utf8,<svg fill='%238000ff' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>") no-repeat right 10px center;
}
