.title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
    color: $color-title;
    border-bottom: 3px solid $color-primary;
    padding-bottom: 4px;
}

.titleSmall {
    font-size: 20px;
    font-weight: 500;
}