$color-primary: rgb(128, 0, 109);
$color-green: green;
$color-red: red;
$color-blue: rgb(102, 102, 212);
$color-bg: #f9f9fb;         
$color-bg-solution: #f0fdf4;
$color-text: #333;
$color-title: #1e1e2f;
$shadow: rgba(0, 0, 0, 0.1);
$shadow-inset: rgba(0, 0, 0, 0.05);


[class*=__container] {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}